/* font-family: 'Lato', sans-serif; */
/* font-family: 'Sniglet', cursive; */
/* font-family: 'Dosis', sans-serif; */
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333333 ;
	font-weight: 300;
	background-image: url('../images/body.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
}
/* header style start here */

header{
	background-color: #ffd338;
}
/* header end end here */

/* navbar style start here */
.menu ul li a{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff !important;
	padding: 0 20px !important;
	border-radius: 15px;
}
.menu ul li a:hover{
	background-color: #f05c5c;	
	transition: .5s;
}
/* navbar style end here */

/* navbar-icon style start here */
.c-dropdown{
	margin: 0 15px;
}
.icon-hover{
	font-size: 18px;
	color: #ffffff;
}
.icon-hover:hover{
	color: #f05c5c;
	transition: .5s;
}
.icon-hover:focus, .icon-hover.focus {
    outline: none;
    box-shadow: none;
}
/* navbar-icon style end here */
/* banner style start here */
#banner{
	background-image: url('../images/banner.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom:30px ;

}
.banner-header{}
.banner-header h2{
	font-family: 'Dosis', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #1ec0ff;
	margin: 296px 0 326px;

}
.banner-scroll p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #bbbbbb;
	margin: 0;
}
.banner-scroll i{	
	font-size: 40px;	
	color: #bbbbbb;
}

/* banner style end here */
/* kid-edu style start here */
#kid-edu{
	padding: 100px 0 100px;
}
.kid-edu-head{}
.kid-edu-head h1{
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #333333;
	text-transform: uppercase;
}
.kid-edu-head hr{
	border: none;
	border-bottom: 5px dashed #ffffff;
	width: 200px;	
	margin-top: 22px;
	margin-bottom: 50px  ;
}
.kid-edu-content{}
.kid-edu-content h2{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333333;
}
.kid-edu-content hr{
	border: none;
	border-bottom: 4px solid #dddddd;
	text-align: left;
	width: 137px;	
	margin-left: 0;
	
}
.kid-edu-content p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
}
.kid-edu-img img{
	border-radius: 20px;
}
/* kid-edu style end here */
/* kid-disiaration style start here */
#disiaration{
	background-image: url('../images/disiaration.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0 100px;
}
.single-dis{
	padding-top: 20px;
}
.dis-img{
	margin-top: 10px;
}
.dis-text h2{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	padding-top: 15px;
}
/* kid-disiaration style end here */
/* feature style start here */
#features{
	padding: 100px 0 100px;
}
.feature h1{
	padding-bottom: 13px;
	margin: 0;
}
.feature hr{
	border: none;
    border-bottom: 5px dashed #ffffff;
    width: 868px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.custom-hr hr{
	border: none;
    border-right: 5px dashed #ffffff;
    width: 553px;
    padding-top: 25px;
    margin: 0;	
}
.single-feature{
	position: relative

}
.single-feature .c{
	border-radius: 15px;	
}
.c-header{	
	border-radius: 15px;
	margin: 0;
	padding: 0;
}
.c-header h1{		
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #ffffff;
	background-color: #1ec0ff;
	margin: 0;
	padding: 12px;
	border-radius: 15px 15px 0 0;
}
.math h1{
	background-color: #56d47e;
}
.science h1{
	background-color: #f05c5c;
}
.environment h1{
	background-color: #ffd338;
}
.price{
	position: absolute;
    top: 170px;
    bottom: 0;
    left: 190px;
    right: 0;
}
.c-body{
	padding-bottom: 0;
}
.single-feature h2{	
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 600;	
	color: #1ec0ff;
	padding-bottom: 10px;	
	margin: 0;
}

.math h2{
	color: #56d47e;
}
.science h2{
	color: #f05c5c;
}
.environment h2{
	color: #ffd338;
}
.single-feature p{	
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;	
	color: #333333;
	padding-bottom: 10px;	
	margin: 0;
}
.card-body ul li{
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:  #333333;
	padding:0 8px;
}
.card-hr hr{
	border: none;
    border-left: 5px dashed #ffffff;   
    padding-top: 40px;
    margin: 0;
    margin-left: 121px;	
    margin-bottom: 10px;
}
.card-hr-last hr{	
    margin-left: 125px;	
}
/* button start here */
.card-button{
	background-color: #56d47e;
	padding:0;
	width: 100%;
	margin-top: 50px;
    border-radius: 20px;	
}
.card-button:hover{
	background-color: #239341;
	transition: .5s;
		
}
.card-button span{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #ffffff;
}
/* button end here */
/* feature style end here */
/* memorable style start here */
#memorable{
	background-image: url('../images/memorable.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0 100px;
}
.m-img{
	padding-top: 30px;
}
.m-img img{
	border-radius: 20px;
}
.v-button{
	padding-top: 80px;
}
/* memorable style end here */
/* who-stand style start here */
#who-stand{
	padding: 100px 0 100px;	
}
.who-sand-head i{
	font-size: 60px;
	color: #1ec0ff;
}
.who-sand-head i:hover{	
	color: #78dd98;
}
.link{
	margin: 0;
	padding: 15px 0 25px;
}
.c-link{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #1ec0ff;	
}
.c-link:hover{
	text-decoration: none;
	color: #78dd98;
}
.ws-text{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #333333;
	line-height: 30px;
}
.ws-head-last{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #1ec0ff;	
	margin: 0;
	padding: 15px 0 25px;
}
.ws{
	padding-top: 30px;
}
.ws-content{}
.ws-content h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color:  #1ec0ff;
	margin:0;
}
.alba h1{
	color: #56d47e;
}
.jack h1{
	color: #f05c5c;
}
.rose h1{
	color: #ffd338;
}
.ws-content h4{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color:  #333333;
	margin:0;
	padding: 10px 0 5px;
}
.ws-content p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color:  #333333;	
	margin:0;
	/* padding: 10px 0 5px;	 */
}
.ws-content ul{
	margin: 0;
	padding: 25px 0px 25px;
}
.ws-content ul li a{
	padding-right: 20px;
}
.ws-content .fb{
	font-size: 18px;
	color: #4366ff;
}
.ws-content .tt{
	font-size: 18px;
	color: #1ec0ff;
}
.ws-content .gp{
	font-size: 18px;
	color: #f06f6f;
}
.ws-content .tb{
	font-size: 18px;
	color: #0b3861;
}
.ws-content ul li a:hover{
	color: #56d47e;
	transition: .5s;
}
.ws-content span{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	margin: 0;
	border-bottom: 1px solid #333333;
}
/*who-stand style end here */
/*counter style start here */
#counter{
	padding: 100px 0 100px;
	background-image: url('../images/counter-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.counterpart{
	padding: 10px 0;
}
.counterpart h2{
	font-family: 'Dosis', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color:  #ffffff;
	margin: 0;
}
.counterpart h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color:  #ffffff;
	text-transform: uppercase;
	padding-top: 15px;
}
/*counter style end here */
/*timeline style start here */
#timeline{
	padding: 100px 0 100px;	
}
.timeline-e hr{
	border: none;
    border-bottom: 5px dashed #ffffff;
    margin: 0;
    margin-right: 140px;    
}
.timeline hr{
	border: none;
    border-bottom: 5px dashed #ffffff;
    margin: 0;
    margin-right: 320px;

    
}

.event{
	padding-top: 30px;	
}
.art h2{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color:  #333333;
	text-transform: capitalize;
}
.art p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #1ec0ff;
	text-transform: uppercase;
}
.art p span{	
	color: #333333;
}
.art .kindergarden{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	text-align: justify;
}
.art h1 a{
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fb9130;
	text-transform: uppercase;
	margin: 0;	
}

/*timeline style end here */
/*recent-news style start here */
.recent{
	padding-top: 40px;
}
.recent h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333333;
	text-transform: capitalize;
	margin: 0;
}
.recent hr{
	border: none;
	border-bottom: 5px dotted #1ec0ff;
}
.recent h4{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	text-transform: capitalize;
	margin: 0;
}
.recent i{
	padding-right: 5px;
}
.recent p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	text-transform: capitalize;
	margin: 0;
	padding-top: 15px;
}
.bts hr{
	border: none;
	border-bottom: 5px dotted #56d47e;
}
.daily hr{
	border: none;
	border-bottom: 5px dotted #ffc852;
}

/*recent-news style end here */
/*footer style start here */
#footer{
	background-image: url('../images/footer-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 230px 0 100px;
}
.logo-part p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	margin: 0;
	padding: 20px 0;	
}
.logo-part ul li{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	padding: 5px 0;	
}
.logo-part ul li i{
	color: #1ec0ff;
	padding-right: 5px ;
}
.instragram h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #ffc852;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;

}
.instragram hr{
	border: none;
    border-bottom: 5px dotted #ffc852;
    margin-right: 85px;
    margin-bottom: 39px;

}
.f-img img{
	padding-top: 15px;
}
.contact h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #56d47e;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;
	
}
.contact hr{
	border: none;
    border-bottom: 5px dotted #56d47e;
    margin-right: 85px;
    margin-bottom: 44px;

}
.contact ul li{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	padding: 10px 0;
}
.contact ul li i{
	font-size: 14px;
	color: #dddddd;
	padding:0;
} 
.contact ul li:nth-child(1) i{	
	padding-right: 15px;
} 
.contact ul li:nth-child(2) i{	
	padding-right: 10px;
}
.contact ul li:nth-child(3) i{	
	padding-right: 15px;
}
.signup h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #f05c5c;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;
	
}
.signup hr{
	border: none;
    border-bottom: 5px dotted #f05c5c;
    margin-right: 85px;
    margin-bottom: 50px;

}
.signup p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	padding: 0;
	padding-bottom: 30px;
}

h1{
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #ffc852;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;
	
}
form{
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-bottom: 20px;
}
.c-form{
	border: none;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
}
.c-button{
	padding: 0;
    padding: 8px 8px 6px 8px;
    color: #5ad1ff;
}
.c-button-r{
	padding: 0;
    padding: 8px 8px 6px 5px;
    color: #cccccc;
}
.n-icon ul li i{
	font-size: 14px;
	color: #cccccc;
	padding-right: 15px;
}
.n-icon ul li i:hover{	
	color: #1ec0ff;
	transition: .5s;
}

footer{
	background-color: #ffd338;
	padding: 18px 0;
}
.f-menu{
	padding:0;
}
.f-menu ul li a{
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	font-weight: 700;	
	color: #ffffff;
	padding: 0 10px;	
	border-right: 1px solid #ffffff;
	text-decoration: none;
}
.f-menu ul li:hover{
	color: #f05c5c;
}
.f-menu ul li:first-child a{
	padding-left: 0;
}
.f-menu ul li:last-child a{
	border-right: none;
}
.f-menu ul li a:hover{
	color: #f05c5c;
	transition: .5s;
}
footer p{
	font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;    
    margin: 0;
}

/*footer style end here */